$tablet-width: 767px;
$desktop-width: 1023px;

@mixin tablet {
  @media (min-width: $tablet-width) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
      @content;
  }
}

.badge {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    transform: translateY(100px);
    z-index: 99;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.birdeye {

    @include tablet {
        padding: 30px 0 60px 0;
    }

    &-badge {
        margin-bottom: 50px;
    }

    & .bluedots {
        background-image: url("https://cdn2.hubspot.net/hubfs/4251633/Homepage%20Feb%202019/greenpolkadots.png");
    }

    & .header {
        font-size: 36px;
        color: #12396f;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;

        @include tablet {
            margin-bottom: 0
        }
    }

    & span.hs_cos_wrapper_type_text {

        @include tablet {
            font-size: 26px !important;
        }
    }
}

.comments{
    font-size: 16px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
}

.greyline {
    width: calc(100% - 160px);
    margin-left: 80px;
    background-color: #f7f9fa;
    height: 80px;
}

.link {
    display: none;

    @include tablet {
        display: block !important;
    }

    & a {
        color: #0181ff;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: underline;
        text-align: center;
        bottom: 0;
    }
}

.name {
    font-size: 18px;
    font-weight: 600;
    color:#4a4a4a;
    text-align: center;
    margin-bottom: 15px;
}

.review_box {
    background-color:#fff;
    border-top:10px solid #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
    padding :0px 20px 30px 20px;
    position: relative;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(50px);
    min-height: 350px;
    max-height: 350px;

    @include desktop {
        transform: translateY(20px);
    }
}

.review_img {
    margin-left: 130px;
    z-index: 100;
    width: 70px;
    height: 70px;
    border-radius: 35px;

    & img {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.29);
    }
}

.stars--rating {
    color:#19C7B8;
    text-align:center;
    margin-bottom: 10px;
}

.tesimonials {
    background-image: url("https://cdn2.hubspot.net/hubfs/4251633/Homepage%20Feb%202019/greenpolkadots.png");
    border: 1px solid transparent;
    height: 100%;
    width: 100%;

    & .graybg {
        width: calc(100% - 160px);
        margin-left: 80px;
        margin-top: 80px;
        background-color: #f7f9fa;
        height: 450px;
    }

    & .link {

        @include tablet {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    & .loaded {
        opacity: 1;
        margin-top: -240px;
        transform: translateY(-120px);

        @include desktop {
            transform: translateY(-100px);
        }
    }

    & .revcontent {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        z-index: 100;

        @include desktop {
            flex-direction: row;
        }

        & .review {
            width: 90%;
            text-align: center;
            margin: 0 auto 20px auto;

            @include desktop {
                margin: 0 auto;
                width: 30%;
            }
        }
    }
}